<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Presenting information about solar installations in the US">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Solar Installations in the United States</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>About</h2>
	  <p>This project combines data from multiple sources to provide a sense of where solar installations are already popular and where they might do well in the future. Data on PV installations is from <a href="https://openpv.nrel.gov/index">the Open PV Project</a>, data on energy prices is from <a href="https://www.eia.gov/electricity/data/eia861/index.html">the EIA</a>, and data on suitability for solar is from the <a href="https://nsrdb.nrel.gov/">National Solar Radiation Database</a>.
          <p><a href="/index">Home</a></p>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>