<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Presenting information about solar installations in the US">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Solar Installations in the United States</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class=page>
          <div class=metanv>
	    <h2>Solar Installations in the United States</h2>
            <p>Choose a state to learn about its current PV installations and potential for future installations, by county.</p>
            <form id='input' method='post' action='index' class='form'>
		<p>
		Select a state: <select>
				{% for s in state_list %}
				    <option value="{{ s }}">{{ s }}</option>
				{% endfor %}
				</select>
	   	</p
	    	<p>
    		<input type='submit' value='Submit' />
      	    	</p>
    	    </form>
           </div>
     </div>
  </body>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
